h1 {
    line-height: 38px;
}
   
    .header {
        margin-top: 40px;
            margin-bottom: 20px;
    }
    
.section {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.weather-data {
    
    font-size: 14px;
    color:gray;
}
.time-data {
   
    font-size: larger;
    }

.container {
    display: block;
    border:1px solid blue;
    border-radius: 35px;
    background: src:"coverr-cloudy-sky-2765-1080p.mp4";
    margin-top: 30px;
    min-width: 402px;
    max-width:600px;
    max-height:440px;
    padding:40px;
  
}
.fa-wind {
    display: block;
    line-height: 76px;
    font-size: 63px;
}
.day{
    text-align: center;
}
.Weekdays {
    margin-top: 20px;
    min-width: 100%;
}
.weekdayname {
    font-weight: 700;
}

